<launch>
    <arg name="namespace" value="my_robot_0" />
    <node name="custom_joint_controller_ros" pkg="custom_joint_controller_ros" type="custom_joint_controller_ros_node" respawn="true" clear_params="true" output="screen" >
        <rosparam file="$(find custom_joint_controller_ros)/config/config.yaml" />
        <param name="odom" value="/$(arg namespace)/odom" />
        <param name="setpoint" value="/$(arg namespace)/full_predicted_state" />
        <param name="joint_command" value="/$(arg namespace)/joint_commands" />
    </node>
</launch>